<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 	
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd" 
	default-autowire="byName" default-lazy-init="false">

	<description>Spring Mybatis 配置</description>
	
	<!-- 配置SQL会话工厂:使用Mybatis的Spring SqlSessionFactoryBean
	   注意的是，该类为工厂类，spring最终构建的是工厂类产生的 SqlSessionFactory，而不是SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/>
        <property name="dataSource" ref="druidDataSource"/>
    </bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
  		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>