<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xw.supercar.entity.Car">
	<resultMap id="resultMap" type="com.xw.supercar.entity.Car">
		<result property="id" column="ID" />
		<result property="carNo" column="CAR_NO" />
		<result property="carModel" column="CAR_MODEL" />
		<result property="carVIN" column="CAR_CHASSIS" />
		<result property="carColor" column="CAR_COLOR" />
		<result property="engineNo" column="CAR_ENGINE" />
		<result property="insurer" column="CAR_INSURER" />
		<result property="insuranceEndtime" column="CAR_INSURANCE_ENDTIME" />
		<result property="registrationDate" column="CAR_REGISTRATION_TIME" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="isDeleted" column="ISDELETED" />
	</resultMap>

	<sql id="table">U_CAR</sql>
	<sql id="columns">ID,CAR_NO,CAR_MODEL,CAR_CHASSIS,CAR_COLOR,CAR_ENGINE,
	CAR_INSURER,CAR_INSURANCE_ENDTIME,CAR_REGISTRATION_TIME,CREATE_TIME,UPDATE_TIME,ISDELETED</sql>

	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES (
			<trim suffixOverrides=",">
				<choose><when test="id == ''">null</when><otherwise>#{id}</otherwise></choose>, 
				<choose><when test="carNo == ''">null</when><otherwise>#{carNo}</otherwise></choose>, 
				<choose><when test="carModel == ''">null</when><otherwise>#{carModel}</otherwise></choose>,
				<choose><when test="carVIN == ''">null</when><otherwise>#{carVIN}</otherwise></choose>, 
				<choose><when test="carColor == ''">null</when><otherwise>#{carColor}</otherwise></choose>, 
				<choose><when test="engineNo == ''">null</when><otherwise>#{engineNo}</otherwise></choose>, 
				<choose><when test="insurer == ''">null</when><otherwise>#{insurer}</otherwise></choose>, 
				<choose><when test="insuranceEndtime == ''">null</when><otherwise>#{insuranceEndtime}</otherwise></choose>,
				<choose><when test="registrationDate == ''">null</when><otherwise>#{registrationDate}</otherwise></choose>, 
				<choose><when test="createTime == null">null</when><otherwise>#{createTime}</otherwise></choose>, 
				<choose><when test="updateTime == null">null</when><otherwise>#{updateTime}</otherwise></choose>, 
				<choose><when test="isDeleted == ''">null</when><otherwise>#{isDeleted}</otherwise></choose>, 
			</trim>
		)
	</insert>
	<!-- 修改 -->
	<update id="update" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		WHERE ID = #{id}
	</update>
	<!-- 批量修改 -->
	<update id="updateBy" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		<include refid="whereFilter"/>
	</update>
	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM <include refid="table" /> 
		WHERE ID = #{id}
	</delete>
	<!-- 条件搜索删除 -->
	<delete id="deleteBy">
		DELETE FROM <include refid="table" /> 
		<include refid="where"/>
	</delete>
	<!-- 查询 -->
	<select id="selectBy" resultMap="resultMap">
		SELECT * from  <include refid="table" />
		<include refid="where"/> <include refid="sort" />
	</select>
	<!-- 计数 -->
	<select id="countBy" resultType="long">
		SELECT count(ID) FROM <include refid="table" />
		<include refid="where" />
	</select>
	
	<!-- 修改时用的的set语句 -->
	<sql id="set">
		<trim suffixOverrides=",">
			<if test="carNo != null">CAR_NO = <choose><when test="carNo == ''">null</when><otherwise>#{carNo}</otherwise></choose>,</if>
			<if test="carModel != null">CAR_MODEL = <choose><when test="carModel == ''">null</when><otherwise>#{carModel}</otherwise></choose>,</if>
			<if test="carVIN != null">CAR_CHASSIS = <choose><when test="carVIN == ''">null</when><otherwise>#{carVIN}</otherwise></choose>,</if>
			<if test="carColor != null">CAR_COLOR = <choose><when test="carColor == ''">null</when><otherwise>#{carColor}</otherwise></choose>,</if>
			<if test="engineNo != null">CAR_ENGINE = <choose><when test="engineNo == ''">null</when><otherwise>#{engineNo}</otherwise></choose>,</if>
			<if test="insurer != null">CAR_INSURER = <choose><when test="insurer == ''">null</when><otherwise>#{insurer}</otherwise></choose>,</if>
			<if test="insuranceEndtime != null">CAR_INSURANCE_ENDTIME = <choose><when test="insuranceEndtime == ''">null</when><otherwise>#{insuranceEndtime}</otherwise></choose>,</if>
			<if test="registrationDate != null">CAR_INSURANCE_ENDTIME = <choose><when test="registrationDate == ''">null</when><otherwise>#{registrationDate}</otherwise></choose>,</if>
			<if test="createTime != null">CREATE_TIME = <choose><when test="createTime == ''">null</when><otherwise>#{createTime}</otherwise></choose>,</if>
			<if test="updateTime != null">UPDATE_TIME = <choose><when test="updateTime == ''">null</when><otherwise>#{updateTime}</otherwise></choose>,</if>
			<if test="isDeleted != null">ISDELETED = <choose><when test="isDeleted == ''">null</when><otherwise>#{isDeleted}</otherwise></choose>,</if>
		</trim>
	</sql>

	<!-- where语句（对应entity中的属性）-->
	<sql id="whereEntity">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null">AND ID = #{id}</if>
			<if test="carNo != null">AND CAR_NO = #{carNo}</if>
			<if test="carModel != null">AND CAR_MODEL = #{carModel}</if>
			<if test="carVIN != null">AND CAR_CHASSIS = #{carVIN}</if>
			<if test="carColor != null">AND CAR_COLOR = #{carColor}</if>
			<if test="engineNo != null">AND CAR_ENGINE = #{engineNo}</if>
			<if test="insurer != null">AND CAR_INSURER = #{insurer}</if>
			<if test="isDeleted != null">AND ISDELETED = #{isDeleted}</if>
		</trim>
	</sql>
	<!-- where语句（对应Searchable）-->
	<sql id="whereFilter">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="filter != null">
				<if test="filter.id_eq != null">AND ID = #{filter.id_eq}</if>
				<if test="filter.id_ne != null">AND ID != #{filter.id_ne}</if>
				<if test="filter.id_in != null">AND <foreach item="ii" collection="filter.id_in" open="(" separator=" OR " close=")">ID in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.id_notIn != null">AND <foreach item="ii" collection="filter.id_notIn" open="(" separator=" AND " close=")">ID not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

				<if test="filter.carNo_eq != null">AND CAR_NO = #{filter.carNo_eq}</if>
				<if test="filter.carNo_ne != null">AND CAR_NO != #{filter.carNo_ne}</if>
				<if test="filter.carNo_like != null">AND lower(CAR_NO) LIKE lower(#{filter.carNo_like})</if>
				<if test="filter.carNo_in != null">AND <foreach item="ii" collection="filter.carNo_in" open="(" separator=" OR " close=")">CAR_NO in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.carNo_notIn != null">AND <foreach item="ii" collection="filter.carNo_notIn" open="(" separator=" AND " close=")">CAR_NO not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.carModel_eq != null">AND CAR_MODEL = #{filter.carModel_eq}</if>
				<if test="filter.carModel_ne != null">AND CAR_MODEL != #{filter.carModel_ne}</if>
				
				<if test="filter.carVIN_eq != null">AND CAR_CHASSIS = #{filter.carVIN_eq}</if>
				<if test="filter.carVIN_ne != null">AND CAR_CHASSIS != #{filter.carVIN_ne}</if>
				<if test="filter.carVIN_like != null">AND lower(CAR_CHASSIS) LIKE lower(#{filter.carVIN_like})</if>
				<if test="filter.carVIN_in != null">AND <foreach item="ii" collection="filter.carVIN_in" open="(" separator=" OR " close=")">CAR_CHASSIS in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.carVIN_notIn != null">AND <foreach item="ii" collection="filter.carVIN_notIn" open="(" separator=" AND " close=")">CAR_CHASSIS not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.carColor_eq != null">AND CAR_COLOR = #{filter.carColor_eq}</if>
				<if test="filter.carColor_ne != null">AND CAR_COLOR != #{filter.carColor_ne}</if>
				<if test="filter.carColor_in != null">AND <foreach item="ii" collection="filter.carColor_in" open="(" separator=" OR " close=")">CAR_COLOR in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.carColor_notIn != null">AND <foreach item="ii" collection="filter.carColor_notIn" open="(" separator=" AND " close=")">CAR_COLOR not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.engineNo_eq != null">AND CAR_ENGINE = #{filter.engineNo_eq}</if>
				<if test="filter.engineNo_like != null">AND lower(CAR_ENGINE) LIKE lower(#{filter.engineNo_like})</if>
				
				<if test="filter.insurer_eq != null">AND CAR_INSURER = #{filter.insurer_eq}</if>
				<if test="filter.insurer_like != null">AND lower(CAR_INSURER) LIKE lower(#{filter.insurer_like})</if>
				
				<if test="filter.isDeleted_eq != null">AND ISDELETED = #{filter.isDeleted_eq}</if>
				<if test="filter.isDeleted_ne != null">AND ISDELETED != #{filter.isDeleted_ne}</if>
			</if>
		</trim>
	</sql>
	
	<!-- where语句-->
	<sql id="where">
		<trim prefix="WHERE " prefixOverrides="AND |OR ">
			<trim prefixOverrides="WHERE ">
				<include refid="whereEntity" />
			</trim>
			<trim prefix="AND " prefixOverrides="WHERE ">
				<include refid="whereFilter" />
			</trim>
		</trim>
	</sql>
	
	<!-- sort排序语句-->
	<sql id="sort">
		<if test="sort == null" >
			ORDER BY CREATE_TIME DESC
		</if>
		<if test="sort != null" >
			<trim prefix="ORDER BY " suffixOverrides=",">
				<foreach collection="sort" index="key" item="val">
					<if test="key == 'carNo'">car_no ${val},</if>
				</foreach>
			</trim>
		</if>
	</sql>

</mapper>

