<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xw.supercar.entity.ClientType">
	<resultMap id="resultMap" type="com.xw.supercar.entity.ClientType">
		<result property="id" column="ID" />
		<result property="code" column="CODE" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="partsDiscount" column="PARTS_DISCOUNT" />
		<result property="itemsDiscount" column="ITEMS_DISCOUNT" />
	</resultMap>

	<sql id="table">U_CLIENT_TYPE</sql>
	<sql id="columns">ID,CODE,NAME,DESCRIPTION,PARTS_DISCOUNT,ITEMS_DISCOUNT</sql>

	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES (
			<trim suffixOverrides=",">
				<choose><when test="id == ''">null</when><otherwise>#{id}</otherwise></choose>, 
				<choose><when test="code == ''">null</when><otherwise>#{code}</otherwise></choose>, 
				<choose><when test="name == ''">null</when><otherwise>#{name}</otherwise></choose>, 
				<choose><when test="description == ''">null</when><otherwise>#{description}</otherwise></choose>, 
				<choose><when test="partsDiscount == ''">null</when><otherwise>#{partsDiscount}</otherwise></choose>, 
				<choose><when test="itemsDiscount == ''">null</when><otherwise>#{itemsDiscount}</otherwise></choose>, 
			</trim>
		)
	</insert>
	<!-- 修改 -->
	<update id="update" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		WHERE ID = #{id}
	</update>
	<!-- 批量修改 -->
	<update id="updateBy" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		<include refid="whereFilter"/>
	</update>
	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM <include refid="table" /> 
		WHERE ID = #{id}
	</delete>
	<!-- 条件搜索删除 -->
	<delete id="deleteBy">
		DELETE FROM <include refid="table" /> 
		<include refid="where"/>
	</delete>
	<!-- 查询 -->
	<select id="selectBy" resultMap="resultMap">
		SELECT * from  <include refid="table" />
		<include refid="where"/> <include refid="sort" />
	</select>
	<!-- 计数 -->
	<select id="countBy" resultType="long">
		SELECT count(ID) FROM <include refid="table" />
		<include refid="where" />
	</select>
	
	<!-- 修改时用的的set语句 -->
	<sql id="set">
		<trim suffixOverrides=",">
			<if test="code != null">CODE = <choose><when test="code == ''">null</when><otherwise>#{code}</otherwise></choose>,</if>
			<if test="name != null">NAME = <choose><when test="name == ''">null</when><otherwise>#{name}</otherwise></choose>,</if>
			<if test="description != null">DESCRIPTION = <choose><when test="description == ''">null</when><otherwise>#{description}</otherwise></choose>,</if>
			<if test="partsDiscount != null">PARTS_DISCOUNT = <choose><when test="partsDiscount == ''">null</when><otherwise>#{partsDiscount}</otherwise></choose>,</if>
			<if test="itemsDiscount != null">ITEMS_DISCOUNT = <choose><when test="itemsDiscount == ''">null</when><otherwise>#{itemsDiscount}</otherwise></choose>,</if>
		</trim>
	</sql>
	<!-- where语句（对应entity中的属性）-->
	<sql id="whereEntity">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null">AND ID = #{id}</if>
			<if test="code != null">AND CODE = #{code}</if>
			<if test="name != null">AND NAME = #{name}</if>
		</trim>
	</sql>
	<!--ID,CODE,NAME,DESCRIPTION,PARTS_DISCOUNT,ITEMS_DISCOUNT -->
	<!--id,code,name,description,partsDiscount,itemsDiscount -->
	<!-- where语句（对应Searchable）-->
	<sql id="whereFilter">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="filter != null">
				<if test="filter.id_eq != null">AND ID = #{filter.id_eq}</if>
				<if test="filter.id_ne != null">AND ID != #{filter.id_ne}</if>
				<if test="filter.id_in != null">AND <foreach item="ii" collection="filter.id_in" open="(" separator=" OR " close=")">ID in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.id_notIn != null">AND <foreach item="ii" collection="filter.id_notIn" open="(" separator=" AND " close=")">ID not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

				<if test="filter.code_eq != null">AND CODE = #{filter.code_eq}</if>
				<if test="filter.code_like != null">AND lower(CODE) LIKE lower(#{filter.code_like})</if>
				<if test="filter.code_in != null">AND <foreach item="ii" collection="filter.code_in" open="(" separator=" OR " close=")">CODE in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.code_notIn != null">AND <foreach item="ii" collection="filter.code_notIn" open="(" separator=" AND " close=")">CODE not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.name_eq != null">AND NAME = #{filter.code_eq}</if>
				<if test="filter.name_like != null">AND lower(NAME) LIKE lower(#{filter.name_like})</if>
				<if test="filter.name_in != null">AND <foreach item="ii" collection="filter.name_in" open="(" separator=" OR " close=")">NAME in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.name_notIn != null">AND <foreach item="ii" collection="filter.name_notIn" open="(" separator=" AND " close=")">NAME not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

			</if>
		</trim>
	</sql>
	
	<!-- where语句-->
	<sql id="where">
		<trim prefix="WHERE " prefixOverrides="AND |OR ">
			<trim prefixOverrides="WHERE ">
				<include refid="whereEntity" />
			</trim>
			<trim prefix="AND " prefixOverrides="WHERE ">
				<include refid="whereFilter" />
			</trim>
		</trim>
	</sql>
	
	<!-- sort排序语句-->
	<sql id="sort">
		<if test="sort == null" >
			ORDER BY CODE ASC
		</if>
		<if test="sort != null" >
			<trim prefix="ORDER BY " suffixOverrides=",">
				<foreach collection="sort" index="key" item="val">
					
				</foreach>
			</trim>
		</if>
	</sql>

</mapper>

