<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.supercar.entity.InPartInfo">

  <resultMap id="resultMap" type="com.xw.supercar.entity.InPartInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="IN_WORKORDER_NO" jdbcType="VARCHAR" property="workOrderNo" />
    <result column="P_ID" jdbcType="VARCHAR" property="partId" />
    <result column="IN_COUNT" jdbcType="INTEGER" property="count" />
    <result column="P_COST" jdbcType="DECIMAL" property="cost" />
    <result column="P_SUPPLIER" jdbcType="VARCHAR" property="supplierLK" />
    <result column="R_CODE" jdbcType="VARCHAR" property="repositoryCodeLK" />
    <result column="ISDELETED" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  
  <sql id="table">TB_IN_PART_INFO</sql>
  <sql id="columns">
    ID, IN_WORKORDER_NO, P_ID, IN_COUNT, P_COST, P_SUPPLIER, R_CODE, ISDELETED
  </sql>
  
  	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES (
			<trim suffixOverrides=",">
				<choose><when test="id == ''">null</when><otherwise>#{id}</otherwise></choose>, 
				<choose><when test="workOrderNo == ''">null</when><otherwise>#{workOrderNo}</otherwise></choose>, 
				<choose><when test="partId == ''">null</when><otherwise>#{partId}</otherwise></choose>, 
				<choose><when test="count == ''">null</when><otherwise>#{count}</otherwise></choose>, 
				<choose><when test="cost == ''">null</when><otherwise>#{cost}</otherwise></choose>, 
				<choose><when test="supplierLK == ''">null</when><otherwise>#{supplierLK}</otherwise></choose>, 
				<choose><when test="repositoryCodeLK == ''">null</when><otherwise>#{repositoryCodeLK}</otherwise></choose>, 
				default, 
			</trim>
		)
	</insert>
	
	<!-- 批量新增 -->
	<insert id="insertList" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.workOrderNo},#{item.partId},#{item.count},#{item.cost},#{item.supplierLK},#{item.repositoryCodeLK},default)
		</foreach>
	</insert>  
	
	<!-- 修改 -->
	<update id="update" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		WHERE ID = #{id}
	</update>
	<!-- 批量修改 -->
	<update id="updateBy" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		<include refid="whereFilter"/>
	</update>
	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM <include refid="table" /> 
		WHERE ID = #{id}
	</delete>
	<!-- 条件搜索删除 -->
	<delete id="deleteBy">
		DELETE FROM <include refid="table" /> 
		<include refid="where"/>
	</delete>
	<!-- 查询 -->
	<select id="selectBy" resultMap="resultMap">
		SELECT * from  <include refid="table" />
		<include refid="where"/> <include refid="sort" />
	</select>
	<!-- 关联查询 -->
	<select id="extendSelectBy" resultMap="java.util.HashMap">
		SELECT
		inpart.ID id, inpart.IN_WORKORDER_NO workOrderNo, inpart.P_ID partId, inpart.IN_COUNT count, inpart.P_COST cost, inpart.P_SUPPLIER supplierLK, inpart.R_CODE repositoryCodeLK, inpart.ISDELETED isDeleted,
		part.P_CODE code, part.P_NAME name, part.P_UNIT unitLK, part.P_SALE sale, part.P_WHOLESALE wholeSale, part.P_PRODUCE_AREA produceArea, part.P_SPECIFICATION specificationLK, part.P_CAR_MODEL carModel, part.P_CATEGORY pCategoryLK,
		supplier.LK_CODE p_supplier_code,
		supplier.LK_VALUE p_supplier_value,
		repository.LK_CODE repository_code,
		repository.LK_VALUE repository_value,
		unit.LK_CODE unit_code,
		unit.LK_VALUE unit_value
		FROM  <include refid="table" /> inpart
		LEFT JOIN tb_part part ON (inpart.p_id = part.id)
		LEFT JOIN tb_lookup supplier ON (supplier.id = inpart.p_supplier)
		LEFT JOIN tb_lookup repository ON (repository.id = inpart.r_code)
		LEFT JOIN tb_lookup unitt ON (unitt.id = part.P_UNIT)
		<include refid="where"/> <include refid="sort" />
	</select>
	<!-- 计数 -->
	<select id="countBy" resultType="long">
		SELECT count(ID) FROM <include refid="table" />
		<include refid="where" />
	</select>
	
	<!-- 修改时用的的set语句 -->
	<sql id="set">
		<trim suffixOverrides=",">
			<if test="workOrderNo != null">IN_WORKORDER_NO = <choose><when test="workOrderNo == ''">null</when><otherwise>#{workOrderNo}</otherwise></choose>,</if>
			<if test="partId != null">P_ID = <choose><when test="partId == ''">null</when><otherwise>#{partId}</otherwise></choose>,</if>
			<if test="count != null">IN_COUNT = <choose><when test="count == ''">null</when><otherwise>#{count}</otherwise></choose>,</if>
			<if test="cost != null">P_COST = <choose><when test="cost == ''">null</when><otherwise>#{cost}</otherwise></choose>,</if>
			<if test="supplierLK != null">P_SUPPLIER = <choose><when test="supplierLK == ''">null</when><otherwise>#{supplierLK}</otherwise></choose>,</if>
			<if test="repositoryCodeLK != null">R_CODE = <choose><when test="repositoryCodeLK == ''">null</when><otherwise>#{repositoryCodeLK}</otherwise></choose>,</if>
			<if test="isDeleted != null">ISDELETED = <choose><when test="isDeleted == ''">0</when><otherwise>#{isDeleted}</otherwise></choose>,</if>
		</trim>
	</sql>
	<!-- where语句（对应entity中的属性）-->
	<sql id="whereEntity">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null">AND ID = #{id}</if>
			<if test="workOrderNo != null">AND IN_WORKORDER_NO = #{workOrderNo}</if>
			<if test="count != null">AND IN_COUNT = #{count}</if>
			<if test="partId != null">AND P_ID = #{partId}</if>
			<if test="supplierLK != null">AND P_SUPPLIER = #{supplierLK}</if>
			<if test="repositoryCodeLK != null">AND R_CODE = #{repositoryCodeLK}</if>
			<if test="cost != null">AND P_COST = #{cost}</if>
			<if test="isDeleted != null">AND ISDELETED = #{isDeleted}</if>
		</trim>
	</sql>
	<!-- where语句（对应Searchable）-->
	<sql id="whereFilter">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="filter != null">
				<if test="filter.id_eq != null">AND ID = #{filter.id_eq}</if>
				<if test="filter.id_ne != null">AND ID != #{filter.id_ne}</if>
				<if test="filter.id_in != null">AND <foreach item="ii" collection="filter.id_in" open="(" separator=" OR " close=")">ID in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.id_notIn != null">AND <foreach item="ii" collection="filter.id_notIn" open="(" separator=" AND " close=")">ID not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

				<if test="filter.workOrderNo_eq != null">AND IN_WORKORDER_NO = #{filter.workOrderNo_eq}</if>
				<if test="filter.workOrderNo_ne != null">AND IN_WORKORDER_NO != #{filter.workOrderNo_ne}</if>
				<if test="filter.workOrderNo_in != null">AND <foreach item="ii" collection="filter.workOrderNo_in" open="(" separator=" OR " close=")">IN_WORKORDER_NO in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.workOrderNo_notIn != null">AND <foreach item="ii" collection="filter.workOrderNo_notIn" open="(" separator=" AND " close=")">IN_WORKORDER_NO not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.count_eq != null">AND IN_COUNT = #{filter.count_eq}</if>
				<if test="filter.count_ne != null">AND IN_COUNT != #{filter.count_ne}</if>
				
				<if test="filter.cost_gte != null">AND P_COST &gt;= #{filter.cost_gte}</if>
				<if test="filter.cost_lte != null">AND P_COST &lt;= #{filter.cost_lte}</if>
				<if test="filter.cost_gt != null">AND P_COST &gt;= #{filter.cost_gt}</if>
				<if test="filter.cost_lt != null">AND P_COST &lt;= #{filter.cost_lt}</if>
				<if test="filter.cost_eq != null">AND P_COST = #{filter.cost_eq}</if>
				<if test="filter.cost_ne != null">AND P_COST != #{filter.cost_ne}</if>
				
				<if test="filter.repositoryCodeLK_eq != null">AND R_CODE = #{filter.repositoryCodeLK_eq}</if>
				<if test="filter.repositoryCodeLK_like != null">AND lower(R_CODE) LIKE lower(#{filter.repositoryCodeLK_like})</if>
				
				<if test="filter.supplierLK_eq != null">AND P_SUPPLIER = #{filter.supplierLK_eq}</if>
				<if test="filter.supplierLK_like != null">AND lower(P_SUPPLIER) LIKE lower(#{filter.supplierLK_like})</if>
				
				<if test="filter.isDeleted_eq != null">AND ISDELETED = #{filter.isDeleted_eq}</if>
				<if test="filter.isDeleted_ne != null">AND ISDELETED != #{filter.isDeleted_ne}</if>
				
				<if test="filter.partId_eq != null">AND P_ID = #{filter.partId_eq}</if>
				<if test="filter.partId_ne != null">AND P_ID != #{filter.partId_ne}</if>
				<if test="filter.partId_in != null">AND <foreach item="ii" collection="filter.partId_in" open="(" separator=" OR " close=")">P_ID in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.partId_notIn != null">AND <foreach item="ii" collection="filter.partId_notIn" open="(" separator=" AND " close=")">P_ID not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

			</if>
		</trim>
	</sql>
	
	<!-- where语句-->
	<sql id="where">
		<trim prefix="WHERE " prefixOverrides="AND |OR ">
			<trim prefixOverrides="WHERE ">
				<include refid="whereEntity" />
			</trim>
			<trim prefix="AND " prefixOverrides="WHERE ">
				<include refid="whereFilter" />
			</trim>
		</trim>
	</sql>
	
	<!-- sort排序语句-->
	<sql id="sort">
		<if test="sort == null" >
			
		</if>
		<if test="sort != null" >
			<trim prefix="ORDER BY " suffixOverrides=",">
				
			</trim>
		</if>
	</sql>
</mapper>