<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.xw.supercar.entity.Inventory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="p_id" jdbcType="VARCHAR" property="partId" />
    <result column="p_count" jdbcType="INTEGER" property="count" />
    <result column="p_cost" jdbcType="DOUBLE" property="cost" />
    <result column="p_supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="p_company" jdbcType="VARCHAR" property="company" />
    <result column="r_code" jdbcType="VARCHAR" property="repositoryCode" />
    <result column="isdeleted" jdbcType="TINYINT" property="isDelete" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, p_id, p_count, p_cost, p_supplier, p_company, r_code, isdeleted, extend1, extend2, 
    extend3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_inventory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_inventory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xw.supercar.entity.Inventory">
    insert into tb_inventory (id, p_id, p_count, 
      p_cost, p_supplier, p_company, 
      r_code, isdeleted, extend1, 
      extend2, extend3)
    values (#{id,jdbcType=VARCHAR}, #{partId,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{cost,jdbcType=DOUBLE}, #{supplier,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{repositoryCode,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xw.supercar.entity.Inventory">
    insert into tb_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partId != null">
        p_id,
      </if>
      <if test="count != null">
        p_count,
      </if>
      <if test="cost != null">
        p_cost,
      </if>
      <if test="supplier != null">
        p_supplier,
      </if>
      <if test="company != null">
        p_company,
      </if>
      <if test="repositoryCode != null">
        r_code,
      </if>
      <if test="isDelete != null">
        isdeleted,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="partId != null">
        #{partId,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="repositoryCode != null">
        #{repositoryCode,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xw.supercar.entity.Inventory">
    update tb_inventory
    <set>
      <if test="partId != null">
        p_id = #{partId,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        p_count = #{count,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        p_cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="supplier != null">
        p_supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        p_company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="repositoryCode != null">
        r_code = #{repositoryCode,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        isdeleted = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xw.supercar.entity.Inventory">
    update tb_inventory
    set p_id = #{partId,jdbcType=VARCHAR},
      p_count = #{count,jdbcType=INTEGER},
      p_cost = #{cost,jdbcType=DOUBLE},
      p_supplier = #{supplier,jdbcType=VARCHAR},
      p_company = #{company,jdbcType=VARCHAR},
      r_code = #{repositoryCode,jdbcType=VARCHAR},
      isdeleted = #{isDelete,jdbcType=TINYINT},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>