<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xw.supercar.entity.User">
	<resultMap id="resultMap" type="com.xw.supercar.entity.User">
		<result property="id" column="ID" />
		<result property="username" column="U_USERNAME" />
		<result property="fullname" column="U_FULLNAME" />
		<result property="password" column="U_PASSWORD" />
		<result property="email" column="U_EMAIL" />
		<result property="mobile" column="U_MOBILE" />
		<result property="role" column="U_ROLE" />
		<result property="company" column="U_COMPANY" />
		<result property="description" column="U_DESCRIPTION" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="isDisable" column="ISDISABLE" />
		<result property="isDeleted" column="ISDELETED" />
	</resultMap>

	<sql id="table">TB_USER</sql>
	<sql id="columns">ID,U_USERNAME,U_FULLNAME,U_PASSWORD,U_EMAIL,U_MOBILE,U_ROLE,U_COMPANY,U_DESCRIPTION,CREATE_TIME,UPDATE_TIME,ISDISABLE,ISDELETED</sql>

	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES (
			<trim suffixOverrides=",">
				<choose><when test="id == ''">null</when><otherwise>#{id}</otherwise></choose>, 
				<choose><when test="username == ''">null</when><otherwise>#{username}</otherwise></choose>, 
				<choose><when test="fullname == ''">null</when><otherwise>#{fullname}</otherwise></choose>, 
				<choose><when test="password == ''">null</when><otherwise>#{password}</otherwise></choose>, 
				<choose><when test="email == ''">null</when><otherwise>#{email}</otherwise></choose>, 
				<choose><when test="mobile == ''">null</when><otherwise>#{mobile}</otherwise></choose>, 
				<choose><when test="role == ''">null</when><otherwise>#{role}</otherwise></choose>, 
				<choose><when test="company == ''">null</when><otherwise>#{company}</otherwise></choose>, 
				<choose><when test="description == ''">null</when><otherwise>#{description}</otherwise></choose>, 
				default, 
				default,
				default, 
				default,
			</trim>
		)
	</insert>
	
	<!-- 批量新增 -->
	<insert id="insertList" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO <include refid="table" /> (
			<include refid="columns" />
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id}, #{item.username}, #{item.fullname}, #{item.password}, #{item.email}, #{item.mobile}
			, #{item.role}, #{item.company}, #{item.description},default, default,default, default)
		</foreach>
	</insert>
	
	<!-- 修改 -->
	<update id="update" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		WHERE ID = #{id}
	</update>
	<!-- 批量修改 -->
	<update id="updateBy" >
		UPDATE <include refid="table" /> SET <include refid="set" />
		<include refid="whereFilter"/>
	</update>
	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM <include refid="table" /> 
		WHERE ID = #{id}
	</delete>
	<!-- 条件搜索删除 -->
	<delete id="deleteBy">
		DELETE FROM <include refid="table" /> 
		<include refid="where"/>
	</delete>
	<!-- 查询 -->
	<select id="selectBy" resultMap="resultMap">
		SELECT * from  <include refid="table" />
		<include refid="where"/> <include refid="sort" />
	</select>
	<!-- 计数 -->
	<select id="countBy" resultType="long">
		SELECT count(ID) FROM <include refid="table" />
		<include refid="where" />
	</select>
	
	<!-- ID,U_USERNAME,U_FULLNAME,U_PASSWORD,U_EMAIL,U_MOBILE,U_ROLE,U_COMPANY,U_DESCRIPTION,ISDISABLE,ISDELETED -->
	<!-- 修改时用的的set语句 -->
	<sql id="set">
		<trim suffixOverrides=",">
			<if test="username != null">U_USERNAME = <choose><when test="username == ''">null</when><otherwise>#{username}</otherwise></choose>,</if>
			<if test="fullname != null">U_FULLNAME = <choose><when test="fullname == ''">null</when><otherwise>#{fullname}</otherwise></choose>,</if>
			<if test="password != null">U_PASSWORD = <choose><when test="password == ''">null</when><otherwise>#{password}</otherwise></choose>,</if>
			<if test="email != null">U_EMAIL = <choose><when test="email == ''">null</when><otherwise>#{email}</otherwise></choose>,</if>
			<if test="mobile != null">U_MOBILE = <choose><when test="mobile == ''">null</when><otherwise>#{mobile}</otherwise></choose>,</if>
			<if test="role != null">U_ROLE = <choose><when test="role == ''">null</when><otherwise>#{role}</otherwise></choose>,</if>
			<if test="company != null">U_COMPANY = <choose><when test="company == ''">null</when><otherwise>#{company}</otherwise></choose>,</if>
			<if test="description != null">U_DESCRIPTION = <choose><when test="description == ''">null</when><otherwise>#{description}</otherwise></choose>,</if>
			<if test="createTime != null">CREATE_TIME = <choose><when test="createTime == ''">null</when><otherwise>#{createTime}</otherwise></choose>,</if>
			<if test="updateTime != null">UPDATE_TIME = <choose><when test="updateTime == ''">null</when><otherwise>#{updateTime}</otherwise></choose>,</if>
			<if test="isDeleted != null">ISDELETED = <choose><when test="isDeleted == ''">0</when><otherwise>#{isDeleted}</otherwise></choose>,</if>
			<if test="isDisable != null">ISDISABLE = <choose><when test="isDisable == ''">0</when><otherwise>#{isDisable}</otherwise></choose>,</if>
		</trim>
	</sql>
	<!-- where语句（对应entity中的属性）-->
	<sql id="whereEntity">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null">AND ID = #{id}</if>
			<if test="username != null">AND U_USERNAME = #{username}</if>
			<if test="fullname != null">AND U_FULLNAME = #{fullname}</if>
			<if test="email != null">AND U_EMAIL = #{email}</if>
			<if test="mobile != null">AND U_MOBILE = #{mobile}</if>
			<if test="role != null">AND U_ROLE = #{role}</if>
			<if test="company != null">AND U_COMPANY = #{company}</if>
			<if test="isDeleted != null">AND ISDELETED = #{isDeleted}</if>
			<if test="isDisable != null">AND ISDISABLE = #{isDisable}</if>
		</trim>
	</sql>
	<!-- where语句（对应Searchable）-->
	<sql id="whereFilter">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="filter != null">
				<if test="filter.id_eq != null">AND ID = #{filter.id_eq}</if>
				<if test="filter.id_ne != null">AND ID != #{filter.id_ne}</if>
				<if test="filter.id_in != null">AND <foreach item="ii" collection="filter.id_in" open="(" separator=" OR " close=")">ID in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.id_notIn != null">AND <foreach item="ii" collection="filter.id_notIn" open="(" separator=" AND " close=")">ID not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>

				<if test="filter.username_eq != null">AND U_USERNAME = #{filter.username_eq}</if>
				<if test="filter.username_like != null">AND lower(U_USERNAME) LIKE lower(#{filter.username_like})</if>
				<if test="filter.username_in != null">AND <foreach item="ii" collection="filter.username_in" open="(" separator=" OR " close=")">U_USERNAME in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.username_notIn != null">AND <foreach item="ii" collection="filter.username_notIn" open="(" separator=" AND " close=")">U_USERNAME not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
			
				<if test="filter.fullname_eq != null">AND U_FULLNAME = #{filter.fullname_eq}</if>
				<if test="filter.fullname_like != null">AND lower(U_FULLNAME) LIKE lower(#{filter.fullname_like})</if>
				<if test="filter.fullname_in != null">AND <foreach item="ii" collection="filter.fullname_in" open="(" separator=" OR " close=")">U_FULLNAME in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.fullname_notIn != null">AND <foreach item="ii" collection="filter.fullname_notIn" open="(" separator=" AND " close=")">U_FULLNAME not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				
				<if test="filter.role_eq != null">AND U_ROLE = #{filter.role_eq}</if>
				<if test="filter.role_like != null">AND lower(U_ROLE) LIKE lower(#{filter.role_like})</if>
				<if test="filter.role_in != null">AND <foreach item="ii" collection="filter.role_in" open="(" separator=" OR " close=")">U_ROLE in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.role_notIn != null">AND <foreach item="ii" collection="filter.role_notIn" open="(" separator=" AND " close=")">U_ROLE not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				
				<if test="filter.company_eq != null">AND U_COMPANY = #{filter.company_eq}</if>
				<if test="filter.company_like != null">AND lower(U_COMPANY) LIKE lower(#{filter.company_like})</if>
				<if test="filter.company_in != null">AND <foreach item="ii" collection="filter.company_in" open="(" separator=" OR " close=")">U_COMPANY in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				<if test="filter.company_notIn != null">AND <foreach item="ii" collection="filter.company_notIn" open="(" separator=" AND " close=")">U_COMPANY not in <foreach item="i" collection="ii" open="(" separator="," close=")">#{i}</foreach></foreach></if>
				
				<if test="filter.mobile_eq != null">AND U_MOBILE = #{filter.mobile_eq}</if>
				<if test="filter.mobile_like != null">AND lower(U_MOBILE) LIKE lower(#{filter.mobile_like})</if>
				
				<if test="filter.email_eq != null">AND U_EMAIL = #{filter.email_eq}</if>
				<if test="filter.email_like != null">AND lower(U_EMAIL) LIKE lower(#{filter.email_like})</if>
				
				<if test="filter.isDeleted_eq != null">AND ISDELETED = #{filter.isDeleted_eq}</if>
				<if test="filter.isDeleted_ne != null">AND ISDELETED != #{filter.isDeleted_ne}</if>
				
				<if test="filter.isDisable_eq != null">AND ISDISABLE = #{filter.isDisable_eq}</if>
				<if test="filter.isDisable_ne != null">AND ISDISABLE != #{filter.isDisable_ne}</if>
				
				<if test="filter.createTime_gte != null">AND CREATE_TIME &gt;= #{filter.createTime_gte}</if>
				<if test="filter.createTime_lte != null">AND CREATE_TIME &lt;= #{filter.createTime_lte}</if>
				<if test="filter.createTime_gt != null">AND CREATE_TIME &gt;= #{filter.createTime_gt}</if>
				<if test="filter.createTime_lt != null">AND CREATE_TIME &lt;= #{filter.createTime_lt}</if>
				
				<if test="filter.updateTime_gte != null">AND UPDATE_TIME &gt;= #{filter.updateTime_gte}</if>
				<if test="filter.updateTime_lte != null">AND UPDATE_TIME &lt;= #{filter.updateTime_lte}</if>
				<if test="filter.updateTime_gt != null">AND UPDATE_TIME &gt;= #{filter.updateTime_gt}</if>
				<if test="filter.updateTime_lt != null">AND UPDATE_TIME &lt;= #{filter.updateTime_lt}</if>
				
			</if>
		</trim>
	</sql>
	
	<!-- where语句-->
	<sql id="where">
		<trim prefix="WHERE " prefixOverrides="AND |OR ">
			<trim prefixOverrides="WHERE ">
				<include refid="whereEntity" />
			</trim>
			<trim prefix="AND " prefixOverrides="WHERE ">
				<include refid="whereFilter" />
			</trim>
		</trim>
	</sql>
	
	<!-- sort排序语句-->
	<sql id="sort">
		<if test="sort == null" >
			ORDER BY CREATE_TIME DESC
		</if>
		<if test="sort != null" >
			<trim prefix="ORDER BY " suffixOverrides=",">
				
			</trim>
		</if>
	</sql>

</mapper>

